.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.eachcards {
    background-color: whitesmoke;
    padding: 2rem;
    margin: 1rem;
    border-radius: 2rem;
    text-align: center;
    z-index: 0;
    width: 175px;
}

.pokeimage {
    width: 150px;
    height: 150px;
    z-index: 1;
}

.pokecircle {
    background-color: aqua;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: -150px ;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.typeofpoke {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 5px;
}